<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="main-card">
    
    <div class="image-container">
      <img src="assets/sua-foto.png" alt="Minha Foto" />
    </div>

    <ion-card-content class="info-section">
      <p class="greeting">Olá! Eu me chamo</p>
      <h1 class="user-name">Marcelle Nascimento Ramos</h1>

      <div class="details-container">
        <div class="detail-item">
          <ion-icon name="school-outline"></ion-icon>
          <p>Faço Análise e Desenvolvimento de Sistemas</p>
        </div>

        <div class="detail-item">
          <ion-icon name="people-outline"></ion-icon>
          <p>Pertenço a turma ADS0301M</p>
        </div>

        <div class="detail-item">
          <ion-icon name="location-outline"></ion-icon>
          <p>Sou da unidade de Bonsucesso</p>
        </div>

        <div class="keyword-section">
          <p><strong>Palavra-chave:</strong> [Insira Aqui]</p>
        </div>
      </div>

     <div class="footer-action">
  
  <ion-button expand="block" shape="round" (click)="irParaTrajetoria()" class="custom-button">
    Clique aqui
  </ion-button>
</div>
    </ion-card-content>

  </ion-card>
</ion-content>
